{{!-- sticky header partial --}}
<div class="headroom headroom--top show-for-medium-up">
    <div class="artee-header">
        <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    </div>
    <div class="artee-blog-menu">
        <div class="artee-menu">
            {{> "menu"}}
        </div>
    </div>
</div>